@import '../Media/Media.scss';
@import '../Variables.scss';
@import './Attributes.css';

$tablet-range-small-end: 670px;
$laptop-range-small-end: 929px;

.flex {
  display: flex;
}

.itemsCenter {
  align-items: center;
}

.laptopAndUp {
  height: var(--Space-64);
  display: none;
  border-bottom: $navbar-border;
  background-color: var(--White);

  @include for-laptop-and-up {
    display: block;
  }
}

.laptopAndUpContainer {
  max-width: 1376px;
  margin: 0 auto;
  padding: var(--Space-24);
  height: var(--Space-64);

  display: flex;
  justify-content: space-between;
  @include for-laptop-only {
    padding: var(--Space-24);
  }
  @include for-desktop-only {
    padding: var(--Space-24) var(--Space-48);
  }
}

.logo {
  height: var(--Space-16);
  padding-right: var(--Space-40);
  @media (min-width: $tablet-range-start) and (max-width: $tablet-range-small-end) {
    padding-right: var(--Space-24);
  }
}

.cta {
  padding-left: 21px;
  @media (min-width: $tablet-range-start) and (max-width: $tablet-range-small-end) {
    padding-left: 0;
  }
}

.searchIcon {
  @include for-laptop-and-up {
    margin-right: 18px;
    padding-top: 3px;
    &:hover {
      opacity: var(--HoverOpacity);
    }
  }
}

.accountIcon {
  @include for-laptop-and-up {
    padding-top: 3px;
    &:hover {
      opacity: var(--HoverOpacity);
    }
  }
}

.navbarWrapper {
  height: var(--Space-64);
  position: relative;
  z-index: $z-index-middle;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--Space-64);
  z-index: $z-index-navbar;
}

:global(.isScrolled) {
  .laptopAndUpAnimation {
    background-color: var(--White);
    color: var(--GrayPrimary--translucent);
    border-color: var(--GrayStrokeAndDisabled--translucent);
    transition: border-color 0.75s ease-in-out,
      background-color 0.75s ease-in-out;
  }
}

.laptopAndUpAnimation {
  border-color: transparent;
  background-color: transparent;

  &:hover {
    background-color: var(--White);
    border-color: var(--GrayStrokeAndDisabled--translucent);
  }
}

@media (min-width: $laptop-range-start) and (max-width: $laptop-range-small-end) {
  .accountIcon,
  .searchIcon {
    display: none;
  }
}

.estimateCopyOptimizely {
  display: none;
}

.estimateCopy {
  width: 100px;
  @include for-phone-only {
    display: none;
  }
}
