@import '../Media/Media.scss';
@import '../Variables.scss';

$tablet-small-end: 670px;

.flex {
  display: flex;
}

.itemsCenter {
  align-items: center;
}

.hamburger {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 2;

  @include for-laptop-and-up {
    display: none;
  }
}

.phoneAndTablet {
  position: relative;
  height: var(--Space-64);
  background-color: white;
  padding: var(--Space-24) var(--ContainerPadding--Phone);
  display: none;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  @include for-laptop-and-up {
    display: none;
  }
  &.visible {
    z-index: 3;
  }
  .hamburger {
    position: absolute;
  }
}

.laptopAndUp {
  height: var(--Space-64);
  background-color: white;

  display: none;
  @include for-laptop-and-up {
    display: block;
  }
}

.laptopAndUpContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--Space-24);
  height: var(--Space-64);

  display: flex;
  justify-content: space-between;
  @include for-laptop-only {
    padding: var(--Space-24) var(--ContainerPadding--Laptop);
  }
  @include for-desktop-only {
    padding: var(--Space-24) var(--ContainerPadding--Desktop);
  }
}

.logo {
  height: 16px;
  padding-right: var(--Space-40);
  @media (min-width: $tablet-range-start) and (max-width: $tablet-small-end) {
    padding-right: var(--Space-24);
  }
}

.phoneLogo {
  margin-right: auto;
}

.phoneLogoFancy {
  margin-right: auto;
}

.cta {
  padding-left: 21px;
  @media (min-width: $tablet-range-start) and (max-width: $tablet-small-end) {
    padding-left: 0;
  }
}

.textLink {
  padding-right: var(--Space-24);
  @media (min-width: $tablet-range-start) and (max-width: $tablet-small-end) {
    &:nth-child(2) {
      padding-right: var(--Space-16);
    }
    &:nth-child(3) {
      padding-right: 0;
    }
  }
  a {
    color: var(--GraySecondary--translucent);
    &:hover,
    &:active,
    &[aria-current='page'] {
      color: inherit;
    }
  }
}

.searchIcon {
  @include for-phone-and-tablet {
    display: none;
  }
  @include for-laptop-and-up {
    margin-right: 18px;
    padding-top: 3px;
  }
}

.accountIcon {
  @include for-phone-and-tablet {
    display: none;
  }
  @include for-laptop-and-up {
    padding-top: 3px;
  }
}

/**
 * Big green mobile hamburger menu
 */
.mobileMenu {
  position: fixed;
  padding: 24px 24px 40px;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--BrandForest);
  color: white;
  z-index: 1;
  overflow-y: scroll;
  & a,
  & a:visited,
  & a:hover {
    /* TODO REDESIGN: this should be a DS component */
    font-weight: 300;
    color: white;
    text-decoration: unset !important;
  }
}

.hideMobileMenu {
  composes: mobileMenu;
  opacity: 0;
  pointer-events: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--Space-64);
  z-index: $z-index-navbar;
}

.blockNavbar {
  height: var(--Space-64);
}

.accordion {
  padding: var(--Space-40) 0;
  margin-bottom: var(--Space-40);
  @include for-tablet-only {
    padding-bottom: var(--Space-56);
    margin-bottom: var(--Space-56);
  }
  border-bottom: solid 1px var(--White);
}

.accordionItem {
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: var(--Space-24);
    @include for-tablet-only {
      margin-bottom: var(--Space-32);
    }
  }
  &.active {
    .accordionChildren {
      display: block;
    }
  }
  .accordionParent > div:first-child,
  .accordionChild {
    max-width: calc(100% - 14px);
    padding-right: var(--Space-80);
    @include for-tablet-only {
      padding-right: 120px;
    }
  }
}

.accordionParent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > svg {
    width: 12px;
    height: 12px;
    margin-bottom: var(--Space-8);
  }
}

.accordionChildren {
  display: none;
  padding-bottom: var(--Space-8);
}

.accordionChild {
  padding-top: var(--Space-24);
}

.belowAccordion {
  display: flex;
  flex-direction: column;
  .belowAccordionItem {
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: var(--Space-24);
      @include for-tablet-only {
        margin-bottom: var(--Space-32);
      }
    }
  }
}

.dropdownNav {
  display: flex;
  .dropdownNavParent {
    cursor: pointer;
    height: 64px;
    display: flex;
    align-items: center;
    > div:first-child {
      transition: text-shadow 0.3s;
    }
    &:hover {
      > div:first-child {
        /** either this text shadow or we have to set fixed widths on each nav item
          * in order to meet bolding spec without changing item width
        **/
        text-shadow: 0 0 0.25px #272727, 0 0 0.25px #272727;
      }
      .dropdownNavChildren {
        display: block;
      }
    }
    &:not(:last-child) {
      padding-right: var(--Space-24);
    }
  }
}

.dropdownNavChildren {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background: var(--White);
}

.dropdownNavChild {
}
