@import '../../../Media/Media.scss';
@import '../../../Variables.scss';
@import '../../Attributes.css';

.nestedCategoryParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--Space-24) 20px;
  cursor: pointer;
  svg > path {
    stroke: var(--GrayPrimary--opaque);
  }
  .categoryText {
    font-size: 20px;
  }
}

.active {
  .nestedCategoryChild {
    display: block;
  }
  .nestedCategoryParent > svg {
    transform: scale(1, -1);
  }
}

.nestedCategoryChild {
  padding: 0 24px 20px;
  display: none;
  &:last-child {
    padding-bottom: 0;
  }
  .linkText {
    font-size: 19px;
  }
}
