.LabelClassExample {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--NoraNeutral-400);
}

.TextClassExample {
  margin-top: var(--Space-12);
  font-size: 15px;
  line-height: 20px;
  height: 100px;
}