/* @getethos/design-system/Images.scss
   ========================================================================== */

// WIP.

/* Generally used as a wrapper around Image components. */
figure {
  margin: 0;
}

.Image {
  // border-radius: 2px; removed until reason for this being added is confirmed
  display: block;

  // These are consequential, may need to pull out.
  width: 100%;
  height: auto;
}
