/* @getethos/design-system/Images.scss
   ========================================================================== */

/* Generally used as a wrapper around Image components. */
figure {
  margin: 0;
}

.Image {
  display: block;
  width: 100%;
  height: auto;
}
