/* @getethos/design-system/Images.scss
   ========================================================================== */

// WIP.

/* Generally used as a wrapper around Image components. */
figure {
  margin: 0;
}

.Image {
  display: block;
  max-width: 100%;
  height: auto;
}
