.pre {
  background: inherit;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  font-size: 13px;
  padding: var(--Space-24) 0 0;
}
