// ************************************************************** //
// PLEASE ONLY USE IN UniversalNavbar!                            //
// Currently a one-off only for UniversalNavbar                   //
// ************************************************************** //
@import '../Media/Media.scss';
@import '../Spacer/Spacer.scss';

// Mobile first so this starts as the smallest
.Button.Small {
  font-size: calc(var(--compact-font-size) * 1px);
  line-height: 18px;
  padding: 9.5px var(--Space-16) 6.5px;
}

// Reponsive is for the one-off use case of header. Our regular
// Button.Medium sizes do NOT change at time of writing.
@include for-tablet-only {
  /* Same as mobile */
  .Button.Small {
    margin-right: 0;
  }
}
@include for-laptop-only {
  /* Very slightly different */
  .Button.Small {
    padding: 11.5px var(--Space-16) 8.5px;
    font-size: 15.5px;
    line-height: 20px;
    margin-right: 0;
  }
}
@include for-desktop-only {
  /* Different */
  .Button.Small {
    padding: 11.5px 18px 8.5px;
    font-size: 15.5px;
    line-height: 20px;
    margin-right: 0;
  }
}
