@import '../Media/Media.scss';

/**
   * Region:
   * Fancy animated scroll behavior
   */
@include for-phone-only {
  .letter:not(.fancyO) {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .fancyE {
    transition-delay: 0.3s;
  }
  .fancyT {
    transition-delay: 0.225s;
  }
  .fancyH {
    transition-delay: 0.15s;
  }
  .isUnscrolled {
    .fancyO {
      transition-delay: 0s;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.38, 0.99, 0.39, 0.98);
    }
  }
  .fancyS {
    transition-delay: 0s;
  }

  .get-an-estimate.show-when-scrolled {
    /* When not scrolled, is transparent and starts to the right */
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    opacity: 0;
    pointer-events: none;
  }
  .isScrolled {
    .get-an-estimate.show-when-scrolled {
      opacity: 1;
      pointer-events: all;
      transform: translateX(-15%);
    }
  }

  .letter {
    opacity: 1;
    width: 150px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
  }
  .isScrolled {
    .letter:not(.fancyO) {
      opacity: 0;
      transform: translate(-10px);
      transition-timing-function: cubic-bezier(0.9, 0.27, 0.62, 0.93);
    }
    .fancyE {
      transition-delay: 0s;
    }
    .fancyT {
      transition-delay: 0.075s;
    }
    .fancyH {
      transition-delay: 0.15s;
    }

    .fancyO {
      transition: cubic-bezier(0.76, 0.04, 0.69, 0.37) 1s all;
      transform: translate(-57px) scale(1.5);
    }

    .fancyS {
      transition-delay: 0.3s;
    }
  }
}
/* End region */
