.column {
  display: flex;
  transition: border-color 0.25s ease-in-out, box-shadow 0.1s ease-in-out;
  padding: var(--Space-16) var(--Space-24);
  box-sizing: border-box;
}

.columnheader {
  text-transform: var(--ariagrid-header-text-transform, uppercase);
  font-size: var(--ariagrid-header-font-size, 11px);
  line-height: var(--ariagrid-header-line-height, 16px);
  font-weight: var(--ariagrid-header-font-weight, 500);
  letter-spacing: var(--ariagrid-header-letter-spacing, 0.1em);
}

.column > a,
.column > a:link,
.column > a:visited,
.column > a:focus,
.column > a:hover,
.column > a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
