@import '../../nora/components/Colors.css';
@import '../../nora/components/Attributes.css';

:root {
  /**
   * CSS Properites can take form of var(--possibly-set-var, --default-fallback-var)
   * allowing us to declaratively theme our grid!
   */
  --ariagrid-row-hover-background: var(--BrandDuckegg);

  /* Main grid font color */
  --ariagrid-grid-container-color: var(--NoraNeutral-900);
  /* Main grid font size */
  --ariagrid-font-size: var(--Nora-Font-15);
  /* Main grid line height */
  --ariagrid-line-height: 20px;
  /* Main grid letter spacing */
  --ariagrid-letter-spacing: 0.003em;

  /* Main border color for grid */
  --ariagrid-border-color: var(--NoraNeutral-200);
  /* Bottom border color for grid */
  --ariagrid-grid-border-bottom: var(--NoraNeutral-200);
  /* border-radius for the outside grid rectangular border */
  --ariagrid-radius: var(--Radius-3);

  /* Header column font size */
  --ariagrid-grid-header-font-color: var(--NoraNeutral-300);
  /* Header's bottom border color for grid */
  --ariagrid-header-border-bottom: var(--NoraNeutral-200);

  /* Header's text trasform */
  --ariagrid-header-text-transform: uppercase;
  /* Header's font size */
  --ariagrid-header-font-size: var(--Nora-Font-11);
  /* Header's font weight */
  --ariagrid-header-font-weight: 500;
  /* Header's letter spacing */
  --ariagrid-header-letter-spacing: 0.1em;
  /* Header's line height */
  --ariagrid-header-line-height: var(--Space-16);
}

.iconContainer {
  display: inline-flex;
}

.icon {
  margin-left: var(--Space-8);
}

@media (max-width: 599px) {
  div[role='columnheader'],
  div[role='row'],
  div[role='cell'] {
    display: block;
    height: inherit;
  }
  div[role='row']:first-child {
    display: none;
  }
  div[role='cell'] {
    border: none;
    position: relative;
    padding-left: 50%;
  }
  /* Header column labels get pushed to left of columns */
  div[role='cell']:before {
    content: attr(data-label);
    position: absolute;
    top: 12px;
    left: 6px;
    width: 45%;
    padding-right: var(--Space-16);
    font-weight: 600;
    white-space: nowrap;
  }
}
