@import '../../nora/components/Colors.css';
@import '../../nora/components/Attributes.css';

:root {
  /**
   * CSS Properites can take form of var(--possibly-set-var, --default-fallback-var)
   * allowing us to declaratively theme our grid!
   */
  --ariagrid-grid-container-color: #272727;
  --ariagrid-row-hover-background: var(--BrandDuckegg);

  /* Header font color */
  --ariagrid-grid-header-font-color: var(--NoraNeutral-300);

  /* Main border color for grid */
  --ariagrid-border-color: var(--NoraNeutral-200);
  /* Bottom border color for grid */
  --ariagrid-grid-border-bottom: var(--NoraNeutral-200);
  /* Header's bottom border color for grid */
  --ariagrid-header-border-bottom: var(--NoraNeutral-200);

  /* border-radius for the outside grid rectangular border */
  --ariagrid-radius: var(--Radius-3);
}

.iconContainer {
  display: inline-flex;
}

.icon {
  margin-left: var(--Space-8);
}

@media (max-width: 599px) {
  div[role='columnheader'],
  div[role='row'],
  div[role='cell'] {
    display: block;
    height: inherit;
  }
  div[role='row']:first-child {
    display: none;
  }
  div[role='cell'] {
    border: none;
    position: relative;
    padding-left: 50%;
  }
  /* Header column labels get pushed to left of columns */
  div[role='cell']:before {
    content: attr(data-label);
    position: absolute;
    top: 12px;
    left: 6px;
    width: 45%;
    padding-right: var(--Space-16);
    font-weight: 600;
    white-space: nowrap;
  }
}
