@import '../../nora/components/Colors.css';
/* TODO -- these are currently come in via globals but we'll need
them here once we continue to strip 'em out of design-system.css
@import "../Colors.scss";
@import '../Spacer/Spacer.scss';
*/

.pagination {
  font-size: 14px;
  margin-top: var(--Space-24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButtons {
  cursor: pointer;
  color: var(--NoraNeutral-400);
  padding: var(--Space-8) var(--Space-14);
  margin: 0px 2px;
  text-decoration: none;
  border-color: var(--Transparent--white);

  &[disabled] {
    color: var(--NoraNeutral-200);
  }
}

.active {
  color: var(--NoraNeutral-900);
  border-color: var(--Transparent--white);
}
