/* All Row (header and below) */
.row {
  /**
   * CSS Properites can take form of var(--possibly-set-var, --default-fallback-var)
   * allowing us to declaratively theme our grid!
   */

  /* TODO -- make this Ethos specific */
  --default-grid-border-bottom: #e9ebed;
  display: flex;
  flex-direction: row;
  flex-basis: 0px;
  flex-grow: 1;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
  border-bottom: 1px solid
    var(--ariagrid-grid-border-bottom, --default-grid-border-bottom);
  vertical-align: top;
  box-sizing: border-box;
}

.row:last-child {
  /* We put borders around entire grid so don't want "double border" on bottom */
  border-bottom: none;
}

/* Header */
.row:first-child {
  text-align: left;

  /* TODO -- make this Ethos specific */
  --default-header-border-bottom: #d8dcde;
  --default-grid-header-font-color: var(--GraySecondary--opaque);

  border-bottom: 1px solid
    var(--ariagrid-header-border-bottom, --default-header-border-bottom);
  border-bottom: 1px solid var(--ariagrid-border-color, --default-border-color);
  color: var(
    --ariagrid-grid-header-font-color,
    --default-grid-header-font-color
  );
}

/* Rows below header */
.row:not(:first-child):hover {
  --default-row-hover-background: var(--BrandDuckegg);

  background-color: var(
    --ariagrid-row-hover-background,
    --default-row-hover-background
  );
}
