@import '../../Media/Media.scss';

.twoColumnLayout {
  display: flex;
}

.columnWrapper {
  width: 50%;
  flex-shrink: 0;
}

/* Spans entire column width. */
.columnLarge {
  width: 100%;
}

/* Gutter on left and right side. */
.columnMedium {
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
  max-width: 560px;
}

/* Left-aligned, gutter on left side and double width gutter on right side. 
Usually used for text. */
.columnSmall {
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
  max-width: 480px;
}
