@import '../../Media/Media.scss';

.twoColumnLayout {
  display: flex;
  align-items: center;
  position: relative;
  &.dividerLine {
    :after {
      content: '';
      border-left: 1px solid var(--GrayStrokeAndDisabled--opaque);
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
    }
  }
}

.columnWrapper {
  width: 50%;
  flex-shrink: 0;
}

/* Spans entire column width. */
.columnLarge {
  width: 100%;
}

/* Gutter on left and right side. */
.columnMedium {
  width: calc(100% - 80px);
  max-width: 560px;
  &.alignRight {
    margin-left: 80px;
  }
}

/* Left-aligned, gutter on left side and double width gutter on right side. 
Usually used for text. */
.columnSmall {
  width: calc(100% - 160px);
  margin-right: 80px;
  max-width: 480px;
}
