@import '../../../components/Animation.scss';

.NoraButtonInputContainer {
  display: flex;
}

.Input {
  flex: 1;
}

.InputRight {
  composes: Input;
  > input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.InputLeft {
  composes: Input;
  > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.Button {
  height: var(--NoraInputHeight);
  width: var(--Space-40);
  background: transparent;
  color: var(--NoraNeutral-300);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration-short);
  transition-delay: var(--transition-delay-long);
}
.Button:hover {
  background-color: var(--NoraNeutral-100);
  transition-delay: var(--transition-delay-short);
  cursor: pointer;
}

.ButtonLeft {
  composes: Button;
  margin-right: -1px;
}

.ButtonRight {
  composes: Button;
  margin-left: -1px;
}

.Disabled {
  pointer-events: none;
}
