/* Same as Type.scss Body. Should we use a mixin? */
$font-size: 19;
$line-height: 24;

.root {
  :global {
    .StyledReactSelect__value-container {
      font-size: $font-size * 1px;
      font-family: var(--Theinhardt-font-stack);
      line-height: $line-height / $font-size;
      overflow: visible;
      padding: 17px var(--Space-16) 13px;
    }

    .StyledReactSelect__value-container > div:last-child {
      /* This is an anonymous wrapper around __input. */
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .StyledReactSelect__input {
      margin-left: 0;

      input[style] {
        font-size: $font-size * 1px;
        line-height: $line-height / $font-size;
        padding: 0;
        width: 4em !important; /* overrides lib inline style *sigh* */
      }
    }

    .StyledReactSelect__placeholder {
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
      margin: 0;
      padding: 17px var(--Space-16) 13px;
      padding-left: 0.1em; /* extra on top of value-container for the cursor */
    }
  }

  :global {
    .StyledReactSelect__control {
      border-radius: 0;
      border-style: solid;
      border-width: 1px;
      box-shadow: none;
      outline: 0;
      transition: border-color 250ms ease;

      &,
      &:hover {
        border-color: var(--GrayStrokeAndDisabled--translucent);
      }

      &--is-focused {
        &,
        &:hover {
          border-color: var(--GrayStrokeAndDisabled--translucent);
        }
      }
    }

    .StyledReactSelect__input {
      input {
        color: var(--GrayPrimary--opaque);
      }
    }

    .StyledReactSelect__placeholder {
      color: var(--GrayStrokeAndDisabled--opaque);
    }
  }
}
