/* @getethos/design-system/Layout.scss
   ========================================================================== */

@import '../Media/Media.scss';

:root {
  --ContainerMaxWidth: 1440px;
  --ContainerPadding--Phone: var(--Space-24);
  --ContainerPadding--Tablet: var(--Space-48);
  --ContainerPadding--Laptop: var(--Space-72);
  --ContainerPadding--Desktop: var(--Space-80);
}

.Container {
  width: 100%;
  max-width: var(--ContainerMaxWidth);
  margin: 0 auto;

  // This assumes this file is imported via index.scss after Media.scss.

  @include for-phone-only {
    padding: 0 var(--ContainerPadding--Phone);
  }
  @include for-tablet-only {
    padding: 0 var(--ContainerPadding--Tablet);
  }
  @include for-laptop-only {
    padding: 0 var(--ContainerPadding--Laptop);
  }
  @include for-desktop-only {
    padding: 0 var(--ContainerPadding--Desktop);
  }
}

.Layout {
  @mixin prevent-horizontal-scrolling {
    width: 100%;
    overflow-x: hidden;
  }
  @include prevent-horizontal-scrolling;
}
