/* @getethos/design-system/Layout.scss
   ========================================================================== */

// This file contains variables that currently need to be included in the CSS
// bundle (design-system.css). Other styles should go in Layout.module.scss.

:root {
  --ContainerMaxWidth: 1440px;
  --ContainerPadding--Phone: var(--Space-16);
  --ContainerPadding--Tablet: var(--Space-48);
  --ContainerPadding--Laptop: var(--Space-72);
  --ContainerPadding--Desktop: var(--Space-80);
}
