/* @getethos/design-system/Layout.scss
   ========================================================================== */

@import '../Media/Media.scss';

:root {
  --ContainerMaxWidth: 1440px;
  --ContainerPadding--Phone: var(--Space-24);
  --ContainerPadding--Tablet: var(--Space-48);
  --ContainerPadding--Laptop: var(--Space-72);
  --ContainerPadding--Desktop: var(--Space-80);
}
