:root {
  --NoraBlue: #1a7ff6;

  --GreenPrimary--opaque: #2bd04b;
  --GreenPrimary--translucent: rgba(101, 217, 124, 0.17);

  --RedPrimary--opaque: #e63754;
  --RedPrimary--translucent: rgba(230, 55, 84, 0.16);

  --GrayPrimary--opaque: #4f5972;
  --GrayPrimary--translucent: #eaebee;
}
