/* TODO -- these are currently come in via globals but we'll need
   them here once we continue to strip 'em out of design-system.css
@import "../Colors.scss";
@import "../Type/Type.scss";
@import '../Spacer/Spacer.scss';
*/

@use "sass:math";

.TextInputCommon {
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  margin: 0;
  padding: 17px var(--Space-16) 13px;
  $font-size: 19;
  $line-height: 24;
  font-size: $font-size * 1px;
  line-height: math.div($line-height, $font-size);
  font-family: var(--Theinhardt-font-stack);
  transition: border-color 250ms ease;
}

.TextInputStylable {
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: var(--GrayStrokeAndDisabled--translucent);
  background-color: var(--White);
  color: var(--GrayPrimary--opaque);
}

.TextInputStylable:hover {
  background-color: var(--GrayLightHover--translucent);
}

.TextInputStylable:focus {
  border-color: var(--GrayPrimary--opaque);
  background-color: var(--White);
}

.TextInputStylable::placeholder {
  color: var(--GrayStrokeAndDisabled--opaque);
}

.TextInputStylable:disabled {
  color: var(--White);
  background-color: var(--GrayStrokeAndDisabled--translucent);
  border-color: transparent;
}
