@import '../Variables.scss';

.ModalWrapper {
  display: none;

  &Active {
    align-items: center;
    background: var(--GraySecondary--translucent);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-index-modal;
  }
}

.ModalContent {
  position: relative;
  overflow: auto;
}
