.InfoMessage {
  transition: all 150ms ease-in-out;

  &.error {
    &,
    a,
    a:hover,
    a:active,
    a:visited {
      color: var(--BrandSunburn);
    }
  }

  &.warning {
    &,
    a,
    a:hover,
    a:active,
    a:visited {
      color: var(--BrandSunburn);
    }
  }

  &.success {
    &,
    a,
    a:hover,
    a:active,
    a:visited {
      color: var(--BrandForest);
    }
  }

  &.info {
    &,
    a,
    a:hover,
    a:active,
    a:visited {
      color: var(--BrandForest);
    }
  }
}
