@import '../Animation.scss';

.Container {
  height: 100vh;
  width: 375px;
  background-color: var(--White);
  padding: 0 var(--Space-24) var(--Space-32);
  transition: transform var(--transition-duration-short);
  transform: translate(-375px);
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: var(--Space-10) 0px var(--Space-10) rgba(0, 0, 0, 0);
}

.Left {
  left: 0;
}

.Right {
  right: 0;
}

.Open {
  transform: translate(0);
  box-shadow: unset;
  box-shadow: var(--Space-10) 0px var(--Space-10) rgba(0, 0, 0, 0.2);
}
