.TextInput {
  // Same as Type.scss Body. Should we use a mixin?
  $font-size: 19;
  $line-height: 24;
  font-size: $font-size * 1px;
  line-height: $line-height / $font-size;
  width: 100%;
  font-family: var(--Theinhardt-font-stack);
  box-sizing: border-box;
  background-color: var(--White);
  border-style: solid;
  border-width: 1px;
  border-color: var(--GrayStrokeAndDisabled--translucent);
  // TODO: Is there a better way to achieve this?
  padding: 17px 16px 13px;
  color: var(--GrayPrimary--opaque);
  border-radius: 0;
  transition: border-color 250ms ease;
  outline: 0;
  margin: 0;
}

.TextInput:hover {
  background-color: var(--GrayLightHover--translucent);
}

.TextInput:focus {
  border-color: var(--GrayPrimary--opaque);
  background-color: var(--White);
}

.TextInput::placeholder {
  // It's $gray-64 / #a3a3a3 in ethos, but going to try to limit # of grays
  color: var(--GrayStrokeAndDisabled--opaque);
}

.TextInput:disabled {
  color: var(--White);
  background-color: var(--GrayStrokeAndDisabled--translucent);
  border-color: transparent;
}
