/* @getethos/design-system/Animation.scss
   ========================================================================== */

.body {
  --transition-default: all 200ms cubic-bezier(0.21, 0.61, 0.35, 1);
  --transition-duration-short: 200ms;
  --transition-duration-medium: 500ms;
  --transition-duration-long: 1s;
  --transition-delay-short: 40ms;
  --transition-delay-long: 80ms;
}
