/* @getethos/design-system/Colors.scss
   ========================================================================== */

:root {
  --BrandSand: #e5e0d9;
  --BrandDuckegg: #deebff;
  --BrandSalamander: #fa640a;
  --BrandButtercup: #fff2e3;
  --BrandForest: #054742;
  --BrandMoss: #dbede5;

  // These grays are semantic. We may have a nonsemantic grayscale later.
  --GrayPrimary--opaque: #272727;
  --GrayPrimary--translucent: rgba(0, 0, 0, 0.85);
  --GrayDarkHover--opaque: #373737;
  --GrayDarkHover--translucent: rgba(0, 0, 0, 0.78);
  --GraySecondary--opaque: #727272;
  --GraySecondary--translucent: rgba(0, 0, 0, 0.55);
  --GrayStrokeAndDisabled--opaque: #cccccc;
  --GrayStrokeAndDisabled--translucent: rgba(0, 0, 0, 0.2);
  --GrayLightHover--opaque: #f5f5f5;
  --GrayLightHover--translucent: rgba(0, 0, 0, 0.04);

  --White: #ffffff;

  --Transparent--white: rgba(255, 255, 255, 0);

  // For the loading spinner background
  --BrandMoss--translucent: rgba(219, 237, 229, 0.2);

  // Only use these reds in error states
  --BrandPasty: #ffe0de;
  --BrandSunburn: #e11f13;

  // Nora
  --GreenPrimary--opaque: #2bd04b;
  --GreenPrimary--translucent: rgba(101, 217, 124, 0.17);

  --RedPrimary--opaque: #e63754;
  --RedPrimary--translucent: rgba(230, 55, 84, 0.16);
}
