/* @getethos/design-system/Colors.scss
   ========================================================================== */

:root {
  --BrandSand: #e5e0d9;
  --BrandDuckegg: #deebff;
  --BrandSalamander: #fa640a;
  --BrandButtercup: #fff2e3;
  --BrandForest: #054742;
  --BrandMoss: #dbede5;

  // These grays are semantic. We may have a nonsemantic grayscale later.
  --GrayPrimary--opaque: #272727;
  --GrayPrimary--translucent: rgba(0, 0, 0, 0.85);
  --GrayDarkHover--opaque: #373737;
  --GrayDarkHover--translucent: rgba(0, 0, 0, 0.78);
  --GraySecondary--opaque: #727272;
  --GraySecondary--translucent: rgba(0, 0, 0, 0.55);
  --GrayStrokeAndDisabled--opaque: #cccccc;
  --GrayStrokeAndDisabled--translucent: rgba(0, 0, 0, 0.2);
  --GrayLightHover--opaque: #f5f5f5;
  --GrayLightHover--translucent: rgba(0, 0, 0, 0.04);

  --White: #ffffff;

  --Transparent--white: rgba(255, 255, 255, 0);

  // For the loading spinner background
  --BrandMoss--translucent: rgba(219, 237, 229, 0.2);

  // for Salamander Button hover pseudo-state
  --SalamanderHover--translucent: rgba(250, 100, 10, 0.8);

  // Homepage rebrand experiment color palette
  --BrandCypress: #056257;
  --CypressHover--translucent: #056257c4;
  --BrandLime: #e7fd7f;
  --LimeHover--translucent: #e7fd7fc4;

  // Only use these reds in error states
  --BrandPasty: #ffe0de;
  --BrandSunburn: #e11f13;
}
