:root {
  --BoxShadow-Outer-light: 0 0 var(--Space-12) var(--GrayLightHover--opaque);
}

$z-index-navbar: 1;
$z-index-modal: 2;
$z-index-navbar-outer: 3;

$navbar-border: solid 1px var(--GrayStrokeAndDisabled--translucent);
