body,
.body {
  --BoxShadow-Outer-light: 0 0 var(--Space-12) var(--GrayLightHover--opaque);
}

$z-index-navbar: 1;
$z-index-middle: 2;
$z-index-backdrop: 10;
$z-index-modal: 15;

$navbar-border: solid 1px var(--GrayStrokeAndDisabled--translucent);
