.Link {
  color: var(--GrayPrimary--translucent);

  &,
  &:active,
  &:hover {
    text-decoration: none;
  }

  // Style variants

  &.Standard {
  }

  &.Inherit {
    color: inherit;
  }

  &.Navlink {
    color: var(--GrayPrimary--translucent);
    text-decoration: none;
    padding: var(--Space-4) 0;
    border-bottom: 2px solid transparent;

    &:active,
    &:hover {
      border-bottom-color: var(--GrayPrimary--translucent);
    }
  }
}
