/* @getethos/design-system/Type.scss
   ========================================================================== */

@import '../Media/Media.scss';

// Typefaces

:root {
  --system-sans-font-stack: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  --system-serif-font-stack: Georgia, 'Times New Roman', serif;
  --Theinhardt-font-stack: Theinhardt, var(--system-sans-font-stack);
  --Cambon-font-stack: Cambon, var(--system-serif-font-stack);
}

.Theinhardt {
  font-family: var(--Theinhardt-font-stack);
}

.Cambon {
  font-family: var(--Cambon-font-stack);
}

// Global defaults

body {
  font-family: var(--Theinhardt-font-stack);
  color: var(--GrayPrimary--translucent);
  word-break: break-word;
}

b,
strong {
  font-weight: 500;
}

// Type utilities (colors, weights, alignment)

.Caption,
.Footnote,
.Body,
.TitleSmall,
.TitleMedium,
.TitleLarge,
.TitleXLarge,
.TitleXXLarge {
  &.BrandForest {
    color: var(--BrandForest);
  }

  &.GraySecondary {
    color: var(--GraySecondary--translucent);
  }

  &.Regular400 {
    font-weight: 400;
  }

  &.Book500,
  &.Medium500 {
    font-weight: 500;
  }

  &.Demi600 {
    font-weight: 600;
  }

  &.Centered {
    text-align: center;
  }

  &.AllCaps {
    text-transform: uppercase;
  }
}

// Subtypes

.Caption {
  @include for-phone-only {
    $font-size: 12;
    $line-height: 15;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }

  @include for-tablet-and-up {
    $font-size: 13.5;
    $line-height: 16;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }
}

.Footnote {
  @include for-phone-only {
    $font-size: 15;
    $line-height: 18;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }

  @include for-tablet-and-up {
    $font-size: 15.5;
    $line-height: 20;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }
}

.Body {
  $font-size: 19;
  $line-height: 24;
  font-size: $font-size * 1px;
  line-height: $line-height / $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
.TitleSmall,
.TitleMedium,
.TitleLarge,
.TitleXLarge,
.TitleXXLarge {
  margin: 0;
}

.TitleSmall {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 21.75;
      $line-height: 26;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 24;
      $line-height: 28;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 27;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 21.75;
      $line-height: 26;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 24;
      $line-height: 28;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 27;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleMedium {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 23.5;
      $line-height: 28;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 28;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 35.5;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 27.5;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 32;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 33;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleLarge {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 28;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 38;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 45;
      $line-height: 48;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 32;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 40;
      $line-height: 46;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 43.5;
      $line-height: 49;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleXLarge {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 33;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 59;
      $line-height: 64;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 69;
      $line-height: 72;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 36.5;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 51;
      $line-height: 56;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 69.5;
      $line-height: 72;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleXXLarge {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 44;
      $line-height: 41.5;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-only {
      $font-size: 76;
      $line-height: 76;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-laptop-only {
      $font-size: 78;
      $line-height: 80;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 92;
      $line-height: 92;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 41.5;
      $line-height: 44;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 71;
      $line-height: 76;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 90.5;
      $line-height: 96;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

// Links – WIP. A link could mean a number of things for a given tech stack.

a,
.Link {
  &,
  &:active,
  &:hover {
    text-decoration: none;
  }

  & {
    color: var(--GrayPrimary--translucent);
  }
}

// Subtype components of Type that wrap an anchor tag
// This is a separate way to implement anchor tags than the actual Link (WIP) component
// Example: <Body><a>A link</a><Body>
// @todo :visited state ?
.Caption,
.Footnote,
.Body,
.TitleSmall,
.TitleMedium,
.TitleLarge,
.TitleXLarge,
.TitleXXLarge {
  a {
    &,
    &:active,
    &:hover {
      color: inherit;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.Link {
  &.Inherit {
    color: inherit;
  }

  &.Navlink {
    color: var(--GrayPrimary--translucent);
    text-decoration: none;
    padding: var(--Space-4) 0;
    border-bottom: 2px solid transparent;

    // transition: var(--transition-default);
    // transition-property: none;

    &:active,
    &:hover {
      // &[aria-current='page'] // if we need to underline the current page later
      border-bottom-color: var(--GrayPrimary--translucent);
    }
  }
}
