@import '../../Media/Media.scss';

.accordion {
  padding: 20px 0;
  border-bottom: solid 1px var(--White);
}

.accordionItem {
  &.active {
    .accordionChildren {
      display: block;
    }
    .accordionParent {
      background-color: var(--BrandForest);
      color: var(--White);
    }
    .accordionParent svg {
      transform: scale(1, -1);
      path {
        stroke: var(--White);
      }
    }
    .linkText {
      font-weight: 500;
    }
  }

  .accordionParent > div:first-child,
  .accordionChild {
    max-width: calc(100% - 14px);
  }
  .innerLink {
    font-size: 19px;
    font-weight: 400;
  }
}

.accordionParent {
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: background-color 300ms ease-in-out;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid rgba(39, 39, 39, 0.16);
  padding: 20px var(--Space-24);

  > svg {
    width: var(--Space-12);
    height: var(--Space-12);
    path {
      stroke: var(--GrayPrimary--opaque);
    }
  }
  .linkText {
    font-size: 17.5px;
  }
}

.accordionChildren {
  display: none;
}

.accordionChild {
  padding: 20px var(--Space-24) 0;
  &:last-child {
    padding-bottom: 20px;
  }
}
