@import '../../Media/Media.scss';

.linkList {
  display: flex;
  flex-direction: column;
}

.linkListItem {
  display: inline-block;
  &:not(:last-child) {
    margin-bottom: var(--Space-24);
    @include for-tablet-only {
      margin-bottom: var(--Space-32);
    }
  }
}
