@import '../../Media/Media.scss';
@import '../../Variables.scss';

$phone-range-small-end: 340px;
$tablet-range-small-end: 670px;

$navbar-border: solid 1px var(--GrayStrokeAndDisabled--translucent);

.hamburger {
  position: fixed;
  top: var(--Space-24);
  right: var(--Space-24);
  z-index: $z-index-middle;

  @include for-laptop-and-up {
    display: none;
  }
}

.mobileNavbar {
  position: relative;
  height: var(--Space-64);
  background-color: var(--White);
  padding: var(--Space-24) var(--ContainerPadding--Phone);
  display: none;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  @include for-laptop-and-up {
    display: none;
  }
  &.visible {
    z-index: $z-index-modal;
  }
  .hamburger {
    position: absolute;
  }

  /** We still rely on some legacy UniversalNavbar styles from FancyAnimatedLogo.scss
   *  thus :global needs to be used until UniversalNavbar is deprecated.
   */
  :global {
    @include for-phone-and-tablet {
      .cta-button.show-when-scrolled.navbar-expanded {
        right: 44px;
      }
    }
    @media (max-width: $phone-range-small-end) {
      .cta-button.show-when-scrolled.navbar-expanded {
        right: 34px;
      }
    }
  }

  &.singleCta {
    :global {
      @include for-phone-and-tablet {
        .cta-button.show-when-scrolled.navbar-expanded {
          right: 7px;
        }
      }
    }
  }
}

:global(.isScrolled) {
  .mobileNavbarAnimation {
    background-color: var(--White);
    color: var(--GrayPrimary--translucent);
  }
}

.mobileNavbarAnimation {
  background-color: transparent;
  transition: background-color 1s ease-in-out;
}

.logo {
  height: var(--Space-16);
  padding-right: var(--Space-40);
  @media (min-width: $tablet-range-start) and (max-width: $tablet-range-small-end) {
    padding-right: var(--Space-24);
  }
}

.mobileHeader {
  padding: var(--Space-24) var(--Space-24) 0;
  display: flex;
  align-items: center;
}

.phoneLogo {
  margin-right: auto;
}

.phoneLogoFancy {
  margin-right: auto;
}
.mobileCta {
  margin-top: -41px;
}

.accordion,
.secondaryLinks {
  a:focus {
    text-decoration: underline;
    outline: none;
  }
}

.accordion {
  border-bottom: solid 1px var(--GrayPrimary--translucent);
}

/** The expanded (toggled visible) mobile menu */
.mobileMenu {
  position: fixed;
  padding-bottom: var(--Space-40);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--White);
  color: var(--Black);
  z-index: $z-index-navbar;
  overflow-y: scroll;
  & a,
  & a:visited,
  & a:hover {
    font-weight: 300;
    color: var(--Black);
    text-decoration: unset;
  }
}

.hideMobileMenu {
  composes: mobileMenu;
  opacity: 0;
  pointer-events: none;
}

.accordion,
.secondaryLinks {
  a:focus {
    text-decoration: underline;
    outline: none;
  }
}

.leftBar {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.plus {
  margin-left: 10px;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-delay: 0;

  @include for-phone-and-tablet {
    margin-top: 2px;
  }
}

.partnerLogo {
  margin-left: 11px;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-delay: 0;

  @include for-phone-and-tablet {
    margin-top: 2px;
  }
}

.isPartnerLogo {
  & > a {
    right: 0 !important;
  }
}

.transitionLeft {
  transition-duration: 0.6s;
  transition-delay: 0.3s;
  transform: translate(-60px);
}

:global(.isScrolled) {
  .plus {
    @extend .transitionLeft
  }

  .partnerLogo {
    @extend .transitionLeft
  }
}
