.dropdownNav {
  display: flex;
}

.dropdownNavParent {
  cursor: pointer;
  height: var(--Space-64);
  display: flex;
  align-items: center;

  > div:first-child {
    position: relative;

    &:after {
      content: '';
      display: none;
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 100%;
      height: var(--Space-4);
      border-bottom: 2px solid var(--BrandForest);
    }
  }

  .title {
    color: var(--BrandForest);
  }

  &:hover {
    > div:first-child {
      /** either this text shadow or we have to set fixed widths on each nav item
        * in order to meet bolding spec without changing item width, design is OK
        * with this current implementation as of 03.03.2020
      **/
      text-shadow: 0 0 0.4px var(--BrandForest), 0 0 0.4px var(--BrandForest);
      &:after {
        display: block;
      }
    }

    .children {
      display: block;
      cursor: default;
    }

    .parentIcon {
      svg {
        stroke-width: 2;
      }
    }
  }

  &:not(:last-child) {
    padding-right: var(--Space-12);
  }

  &:not(:first-child) {
    padding-left: var(--Space-12);
  }
}

.parentIcon {
  stroke: var(--GrayPrimary--opaque);
  margin-left: var(--Space-4);
  svg {
    stroke-width: 1;
  }
}
