@import './Media.scss';

.PhoneOnly {
  display: none;
  @include for-phone-only {
    display: block;
  }
}

.TabletOnly {
  display: none;
  @include for-tablet-only {
    display: block;
  }
}

.PhoneAndTablet {
  display: none;
  @include for-phone-and-tablet {
    display: block;
  }
}

.TabletAndLaptop {
  display: none;
  @include for-tablet-and-laptop {
    display: block;
  }
}

.TabletAndUp {
  display: none;
  @include for-tablet-and-up {
    display: block;
  }
}

.LaptopAndUp {
  display: none;
  @include for-laptop-and-up {
    display: block;
  }
}

.LaptopOnly {
  display: none;
  @include for-laptop-only {
    display: block;
  }
}

.DesktopOnly {
  display: none;
  @include for-desktop-only {
    display: block;
  }
}
