:root {
  --Radius: 3px;
}

.Tag {
  border-radius: var(--Radius);
  align-items: center;
  padding: 5px;
  display: inline;
}

.Approved {
  background-color: rgba(101, 217, 124, 0.17);
  color: #2BD04B;
}

.Rejected {
  background-color: rgba(230, 55, 84, 0.16);
  color: #E63754;
}

.Default {
  background-color: #EAEBEE;
  color: #4F5972;
}