@import '../Attributes.css';

.Tag {
  border-radius: var(--Radius-3);
  display: inline;
  align-items: center;
  padding: 5px;
}

.Approved {
  background-color: var(--GreenPrimary--translucent);
  color: var(--GreenPrimary--opaque);
}

.Rejected {
  background-color: var(--RedPrimary--translucent);
  color: var(--RedPrimary--opaque);
}

.Default {
  background-color: var(--GrayPrimary--translucent);
  color: var(--GrayPrimary--opaque);
}
