@import '../Media/Media.scss';

.root {
  &.block {
    margin-left: 5px;
    display: block;
  }

  &.inline {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Tooltip */
.icon {
  width: var(--Space-16);
  height: var(--Space-16);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.popperContainer {
  .contentBox {
    @include for-phone-only {
      display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--UncommonSpace-12);
    text-align: left;
    width: max-content;
    max-width: 320px;
    background-color: white;
    padding: var(--Space-24);
    box-shadow: var(--BoxShadow-Outer-light);
    color: var(--GrayDarkHover--translucent);
    transition: var(--transition-default);

    &.noTransition {
      transition: unset;
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  .arrow {
    position: absolute;
    width: var(--UncommonSpace-12);
    height: var(--UncommonSpace-12);
    &[data-placement*='bottom'] {
      top: 0;
      margin-top: -12px;
      width: var(--UncommonSpace-36);
      height: var(--UncommonSpace-12);
      &::before {
        border-width: 0 var(--UncommonSpace-12) var(--UncommonSpace-12)
          var(--UncommonSpace-12);
        border-color: transparent transparent white transparent;
      }
    }
    &[data-placement*='top'] {
      bottom: 0;
      margin-bottom: -12px;
      width: var(--UncommonSpace-36);
      height: var(--UncommonSpace-12);
      &::before {
        border-width: var(--UncommonSpace-12) var(--UncommonSpace-12) 0
          var(--UncommonSpace-12);
        border-color: white transparent transparent transparent;
      }
    }
    &[data-placement*='right'] {
      left: 0;
      margin-left: -12px;
      height: var(--Space-24);
      width: var(--UncommonSpace-12);
      &::before {
        border-width: var(--UncommonSpace-12) var(--UncommonSpace-12)
          var(--UncommonSpace-12) 0;
        border-color: transparent white transparent transparent;
      }
    }
    &[data-placement*='left'] {
      right: 0;
      margin-right: -12px;
      height: var(--Space-24);
      width: var(--UncommonSpace-12);
      &::before {
        border-width: var(--UncommonSpace-12) 0 var(--UncommonSpace-12)
          var(--UncommonSpace-12);
        border-color: transparent transparent transparent white;
      }
    }
    &::before {
      content: '';
      margin: auto;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }
}

/* Mobile Modal */
:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay],
[data-reach-dialog-content] {
  @include for-tablet-and-up {
    display: none;
  }
}

[data-reach-dialog-overlay] {
  z-index: 50;
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow: hidden;
}

[data-reach-dialog-content] {
  position: relative;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  width: 100%;
  background: white;
  outline: none;
  transition: transform 0.3s ease-out;
}

.mobileModal {
  padding: var(--Space-64) var(--Space-24) var(--Space-80) var(--Space-24);

  .closeButton {
    background: transparent;
    border: unset;
    position: absolute;
    top: var(--Space-24);
    right: var(--Space-24);
    cursor: pointer;
  }

  .label {
    margin-bottom: var(--Space-24);
  }
}
