@import '../Animation.scss';
@import '../Variables.scss';

.SnackbarContainer {
  position: fixed;
}

.SnackbarSkin {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index-navbar;
  border: 1px solid var(--BrandSunburn);
  color: var(--GrayPrimary--opaque);
  font-size: var(--Space-24);
  background-color: var(--BrandPasty);
  border-radius: 3px;
  padding: var(--Space-16) var(--Space-24);
}

.CustomButton {
  background: none;
  border: none;
  padding: 5px 5px 0;
  &:hover {
    cursor: pointer;
  }
}

.Bottom {
  bottom: 20px;
}

.Right {
  right: 20px;
}

.Left {
  left: 20px;
}

// TODO: Move some of this stuff into an animation specific module

.Animatable {
  animation-duration: var(--transition-duration-medium);
  animation-fill-mode: both;
}

.ZoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 0.75) translate3d(0, 20px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
