@import '../Media/Media.scss';

.Theinhardt {
  font-family: var(--Theinhardt-font-stack);
}

.Cambon {
  font-family: var(--Cambon-font-stack);
}

/* TypeBase utilities (colors, weights, alignment) */
.Caption,
.Footnote,
.Body,
.TitleSmall,
.TitleMedium,
.TitleLarge,
.TitleXLarge,
.TitleXXLarge,
.Caption2,
.Eyebrow2,
.Body2,
.TitleSmall2,
.TitleMedium2,
.TitleLarge2,
.TitleXLarge2 {
  /* Brand colors */

  &.BrandForest {
    color: var(--BrandForest);
  }
  &.BrandSalamander {
    color: var(--BrandSalamander);
  }

  /* Grayscales */

  &.GrayPrimary {
    color: var(--GrayPrimary--translucent);
  }

  &.GrayStrokeAndDisabled {
    color: var(--GrayStrokeAndDisabled--translucent);
  }

  &.GraySecondary {
    color: var(--GraySecondary--translucent);
  }

  &.White {
    color: var(--White);
  }

  /* Misc. */

  &.Centered {
    text-align: center;
  }

  &.AllCaps {
    text-transform: uppercase;
  }

  &.Capitalize {
    text-transform: capitalize;
  }
}

.Light300 {
  font-weight: 300;
}

.Regular400 {
  font-weight: 400;
}

.Book500,
.Medium500 {
  font-weight: 500;
}

.Demi600 {
  font-weight: 600;
}

/* Subtypes */

.Caption {
  @include for-phone-only {
    $font-size: 12;
    $line-height: 15;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }

  @include for-tablet-and-up {
    $font-size: 13.5;
    $line-height: 16;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }
}

.Footnote {
  @include for-phone-only {
    $font-size: 15;
    $line-height: 18;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }

  @include for-tablet-and-up {
    $font-size: 15.5;
    $line-height: 20;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
  }
}

.Body {
  --base-line-height: 24;
  font-size: calc(var(--base-font-size) * 1px);
  line-height: calc(var(--base-line-height) / var(--base-font-size));
}

h1,
h2,
h3,
h4,
h5,
h6,
.TitleSmall,
.TitleMedium,
.TitleLarge,
.TitleXLarge,
.TitleXXLarge,
.TitleSmall2,
.TitleMedium2,
.TitleLarge2,
.TitleXLarge2 {
  margin: 0;
}

.TitleSmall {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 21.75;
      $line-height: 26;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 24;
      $line-height: 28;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 27;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 21.75;
      $line-height: 26;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 24;
      $line-height: 28;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 27;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleMedium {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 23.5;
      $line-height: 28;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 28;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 35.5;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 27.5;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 32;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 33;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleLarge {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 28;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 38;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 45;
      $line-height: 48;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 32;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 40;
      $line-height: 46;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 43.5;
      $line-height: 49;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleXLarge {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 33;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 59;
      $line-height: 64;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 69;
      $line-height: 72;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 36.5;
      $line-height: 40;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 51;
      $line-height: 56;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 69.5;
      $line-height: 72;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

.TitleXXLarge {
  &.Theinhardt {
    @include for-phone-only {
      $font-size: 44;
      $line-height: 41.5;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-only {
      $font-size: 76;
      $line-height: 76;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-laptop-only {
      $font-size: 78;
      $line-height: 80;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 92;
      $line-height: 92;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }

  &.Cambon {
    @include for-phone-only {
      $font-size: 41.5;
      $line-height: 44;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-tablet-and-laptop {
      $font-size: 71;
      $line-height: 76;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }

    @include for-desktop-only {
      $font-size: 90.5;
      $line-height: 96;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
    }
  }
}

/* TODO: come up with a comprehensive plan for links and link styles. This is
   complicated by the number of design features we may need to support, plus
   the complications from JS routers with <Link>s that are not standard <a>s.
   See also ./Type.scss.
*/

.Caption,
.Footnote,
.Body,
.TitleSmall,
.TitleMedium,
.TitleLarge,
.TitleXLarge,
.TitleXXLarge,
.Caption2,
.Eyebrow2,
.Body2,
.TitleSmall2,
.TitleMedium2,
.TitleLarge2,
.TitleXLarge2 {
  a {
    &,
    &:active,
    &:hover {
      color: inherit;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/* ------------------------ Start Type2 ------------------------ */
.Caption2 {
  &.Theinhardt {
    $font-size: 14;
    $line-height: 16;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: 0.0045em;
  }
}

.Eyebrow2 {
  &.Theinhardt {
    $font-size: 10.5;
    $line-height: 16;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: 0.08em;
  }
}

.Body2 {
  &.Theinhardt {
    $font-size: 17.5;
    $line-height: 24;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: 0;
  }
}

.TitleSmall2 {
  &.Theinhardt {
    $font-size: 20;
    $line-height: 26;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: 0.001em;
  }

  &.Cambon {
    $font-size: 24.5;
    $line-height: 28;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: -0.017em;
  }
}

.TitleMedium2 {
  &.Theinhardt {
    @include for-phone-only {
      /* Matches TitleSmall2 all viewports*/
      $font-size: 20;
      $line-height: 26;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
      letter-spacing: 0.001em;
    }

    @include for-tablet-and-up {
      $font-size: 24;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
      letter-spacing: -0.0125em;
    }
  }

  &.Cambon {
    $font-size: 32;
    $line-height: 36;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: -0.022em;
  }
}

.TitleLarge2 {
  &.Theinhardt {
    @include for-phone-only {
      /* Matches TitleMedium2 for-tablet-and-up */
      $font-size: 24;
      $line-height: 32;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
      letter-spacing: -0.0125em;
    }

    @include for-tablet-and-up {
      $font-size: 28;
      $line-height: 36;
      font-size: $font-size * 1px;
      line-height: $line-height / $font-size;
      letter-spacing: -0.016em;
    }
  }

  &.Cambon {
    $font-size: 43.5;
    $line-height: 48;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: -0.0275em;
  }
}

.TitleXLarge2 {
  &.Cambon {
    $font-size: 60;
    $line-height: 64;
    font-size: $font-size * 1px;
    line-height: $line-height / $font-size;
    letter-spacing: -0.034em;
  }
}
/* ------------------------ Close Type2 ------------------------ */
