.Container {
  position: relative;
}

.Box {
  height: var(--Space-24);
  width: var(--Space-24);
  background: var(--White);
  border: 1px solid var(--NoraNeutral-200);
  border-radius: var(--Radius-3);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box:hover {
  cursor: pointer;
}
