@import '../Colors.css';
.Container {
  /* These custom props that start with --async are for the Popover styles */
  --async-active-color: var(--NoraBlue-100);
  --async-selected-color: var(--NoraBlue-400);
  position: relative;
  /* These can be set however we wish depending on usage scenario */
  max-width: 210px;
  max-height: 90px;
}

.KabobContainer {
  --async-color: var(--NoraNeutral-400);

  /* Kabob custom properties */
  --kabob-box-height: var(--Space-24);
  --kabob-box-width: var(--Space-24);
  --kabob-background-color: var(--White);
  --kabob-border-color: var(--NoraNeutral-200);
  --kabob-border-radius: var(--Radius-3);
  --kabob-background-hover-color: var(--NoraNeutral-100);

  /* Required as this covers .SelectedOption.ActiveOption which `inherits` */
  color: var(--NoraNeutral-400);
}
