body {
  margin: 0;
  padding: 0;
}

.Button {
  display: block
}

.KitchenSink-Header {
  background-color: var(--BrandForest);
  height: 128px;
  padding: 24px;
  color: white;
  text-align: center;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.KitchenSink {
  width: 1024px;
  margin: 0 auto 48px;
}

.KitchenSink h2 {
  margin-top: 48px;
  margin-bottom: 48px;
}
