.IconListContainer:hover > a,
.IconListContainer:hover > svg {
  color: var(--NoraNeutral-900);
}

.LabsIconColor {
  color: var(--NoraOrange-400);
  &:hover {
    color: var(--NoraOrange-100);
  }
}
.MVRIconColor {
  color: var(--NoraRed-400);
  &:hover {
    color: var(--NoraRed-100);
  }
}
