name: Publish to GitHub NPM Package

on:
  push:
    branches:
      - 'main'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '12.x'  # v1 uses Node 12.x (v2 uses 20.x)
      - name: Setup fontawesome dependencies
        run: |
          cat > .npmrc <<EOF
          @fortawesome:registry=https://npm.fontawesome.com/
          //npm.fontawesome.com/:_authToken=${{ secrets.FONTAWESOME_TOKEN_GITHUB }}
          EOF
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish to GitHub Packages
        run: yarn publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

